In [99]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression

import tensorflow as tf
from tensorflow.keras import layers

from sklearn.impute import SimpleImputer

import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix, classification_report

from sklearn.svm import SVC

In [4]:
data = pd.read_excel('/content/2014 and 2015 CSM dataset.xlsx')
data.head(6)

                    Movie  Year  ...  Comments  Aggregate Followers
0                 13 Sins  2014  ...       636            1120000.0
1          22 Jump Street  2014  ...       186           12350000.0
2          3 Days to Kill  2014  ...        47             483000.0
3  300: Rise of an Empire  2014  ...       590             568000.0
4       A Haunted House 2  2014  ...      1082            1923800.0
5          A Long Way Off  2014  ...         1             310000.0

[6 rows x 14 columns]

# Eksplorasi Data

In [5]:
data.describe(include = 'all')

                Movie         Year  ...      Comments  Aggregate Followers
count             231   231.000000  ...    231.000000         1.960000e+02
unique            231          NaN  ...           NaN                  NaN
top     Inherent Vice          NaN  ...           NaN                  NaN
freq                1          NaN  ...           NaN                  NaN
mean              NaN  2014.294372  ...   1825.701299         3.038193e+06
std               NaN     0.456750  ...   3571.040447         4.886278e+06
min               NaN  2014.000000  ...      0.000000         1.066000e+03
25%               NaN  2014.000000  ...    248.500000         1.830250e+05
50%               NaN  2014.000000  ...    837.000000         1.052600e+06
75%               NaN  2015.000000  ...   2137.000000         3.694500e+06
max               NaN  2015.000000  ...  38363.000000         3.103000e+07

[11 rows x 14 columns]

In [8]:
data.isna().any(axis = 0)

Movie                  False
Year                   False
Ratings                False
Genre                  False
Gross                  False
Budget                  True
Screens                 True
Sequel                 False
Sentiment              False
Views                  False
Likes                  False
Dislikes               False
Comments               False
Aggregate Followers     True
dtype: bool

In [29]:
data.Screens.value_counts()

4.0       3
3003.0    3
66.0      3
2.0       3
3555.0    2
         ..
2104.0    1
3956.0    1
461.0     1
3946.0    1
45.0      1
Name: Screens, Length: 200, dtype: int64

In [9]:
data.isna().sum(axis = 0)

Movie                   0
Year                    0
Ratings                 0
Genre                   0
Gross                   0
Budget                  1
Screens                10
Sequel                  0
Sentiment               0
Views                   0
Likes                   0
Dislikes                0
Comments                0
Aggregate Followers    35
dtype: int64

In [103]:
bounder = np.quantile(data.Ratings, [0.33,0.66])


class_ = ['rendah', 'sedang', 'tinggi']
  
data['rating_class'] = data.Ratings.apply(
    lambda x : class_[sum(x > bounder)]
)
data.head(5)

                    Movie  Year  ...  Aggregate Followers  rating_class
0                 13 Sins  2014  ...            1120000.0        sedang
1          22 Jump Street  2014  ...           12350000.0        tinggi
2          3 Days to Kill  2014  ...             483000.0        sedang
3  300: Rise of an Empire  2014  ...             568000.0        sedang
4       A Haunted House 2  2014  ...            1923800.0        rendah

[5 rows x 15 columns]

In [25]:
data.rating_class.value_counts()

tinggi    88
rendah    80
sedang    63
Name: rating_class, dtype: int64

# Data Preproces

In [108]:
new_data = data.drop(['Movie', 'Year', 'Ratings'], axis = 1)

new_data = new_data.dropna(axis = 0)

In [109]:
X = new_data.drop('rating_class', axis = 1)
y = new_data['rating_class']

cat_col = ['Genre', 'Sequel']

ohe = OneHotEncoder(sparse = False)
ohe.fit(data[cat_col])


X = np.concatenate(
  (X.drop(cat_col, axis = 1).to_numpy(),
  ohe.fit_transform(X[cat_col])),
  axis = 1
)

le = LabelEncoder()
y = le.fit_transform(y)

In [110]:
X

array([[9.130e+03, 4.000e+06, 4.500e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [1.920e+08, 5.000e+07, 3.306e+03, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [3.070e+07, 2.800e+07, 2.872e+03, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [1.310e+05, 4.500e+06, 7.900e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [1.290e+05, 4.000e+06, 1.400e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [1.060e+05, 1.500e+06, 2.200e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

In [112]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

X_train.shape

(149, 26)

AttributeError: ignored

In [113]:
model = RandomForestClassifier(criterion = 'entropy', random_state=42)

model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [114]:
y_pred = model.predict(X_test)


print('Confusion Matriks\n',confusion_matrix(y_test, y_pred), '\n')
print('Accuracy =', accuracy_score(y_test, y_pred))
print('Precisi =', precision_score(y_test, y_pred, average='weighted'))
print('Recall =', recall_score(y_test, y_pred, average='weighted'))
print('F1 Score =', f1_score(y_test, y_pred, average='weighted'))

Confusion Matriks
 [[7 3 5]
 [4 3 2]
 [5 0 9]]

Accuracy = 0.5
Precisi = 0.49835526315789475
Recall = 0.5
F1 Score = 0.49405772495755523

In [126]:
cross_validate(model, X_train, y_train, scoring = 'accuracy')

{'fit_time': array([0.1738224 , 0.14231157, 0.14419317, 0.1425705 , 0.14868069]),
 'score_time': array([0.00794387, 0.00759482, 0.00753856, 0.00753832, 0.00773406]),
 'test_score': array([0.53333333, 0.53333333, 0.33333333, 0.56666667, 0.44827586])}